.header {
    min-height: 4rem;
    padding: 2rem;
    background-color: rgb(164, 227, 247);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.scroll {
    font-size: 4rem;
    margin-right: 3rem;
}

.firstHeader {
    font-size: 2.5rem;
}

.secondHeader {
    font-size: 1.5rem;
}