.photoclass {
    grid-area: 1/1/2/3;
}

.donebutton {
    grid-area: 5/1/6/3;
    background-color: rgb(13, 177, 177);
    color: white;
}

.donebutton:hover {
    background-color: rgb(12, 151, 151);
}

.personalpreviewbutton {
    grid-area: 5/1/6/3;
    background-color: rgb(46, 177, 13);
    color: white;
}

textarea {
    overflow: auto;
    resize: none;
}

.diverror {
    border: 3px solid red;
}

.divgood {
    border: 3px solid green;
}

.error.good {
    color: green;
}

.error.bad {
    color: red;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
}
